.banner{
    background: url(./img/banner.jpeg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    /* ! paddingler yazıyı ortaladı */
    padding-top: 20%;
    padding-bottom: 20%;
    color: purple;
}
.fas {
    border-radius: 50%;
}
.images{
    border: 10px solid gray;
}
a.social {
    background-color: #333;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.6rem;
}
.contact{
    background: url(./img/map.jpeg) no-repeat center center;
    background-size: cover;
    color: #eee;
}
.galip{
    font-size: 3.5 rem;
}